<div id="user-create-form">
  <ul>
  <%= form_for @user, role: "form" do |t| %>
  <% if @user.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited
       this article from being saved:
     </h2>
     <ul class="errors">
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
   <% end %>
  <div class="form-group">
    <li><%= t.text_field :username, class: 'form-control', placeholder: 'Username', required: true, autofocus: true  %></li>
  </div>

  <div class="form-group">
    <li><%= t.password_field :password, class: 'form-control', placeholder: 'Password', required: true, autofocus: true  %></li>
  </div>

  <div class="form-group">
    <li><%= t.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation', required: true, autofocus: true  %></li>
  </div>

  <div class="form-group">
    <li><%= t.text_field :email, class: 'form-control', placeholder: 'Email Address', required: true, autofocus: true  %></li>
  </div>

    <li class="user-submit"><%= t.submit "Create Account", class: 'btn btn-lg btn-primary btn-block' %></li>

  <% end %>
</div>

